.container.container-condensed {
  padding: 0 12px;
  .v-card.table-card {
    margin-bottom: 4px;
  }
  @media screen and (max-width: map-get($grid-breakpoints, 'sm') - 1) {
    padding: 0;
    .v-card, .v-alert {
      border-radius: 0;
      &.table-card {
        margin-bottom: 0;
      }
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.container.container-page {
  margin-top: -48px;
  padding-top: 48px;
}
