.theme--light {
  .app-toolbar {
    background-color: map-get($grey, 'lighten-5') !important;
  }
  .app-navigation-close {
    color: map-get($grey, 'darken-1') !important;
  }

  .v-dialog .table-card {
    background-color: map-get($grey, 'lighten-4') !important;
  }
}

.theme--dark {
  .app-toolbar {
    background-color: map-get($grey, 'darken-4') !important;
  }

  .v-dialog .table-card {
    background-color: map-get($grey, 'darken-4') !important;
  }
}
