// This file is used to change default vuetify variables
@import '~vuetify/src/styles/styles.sass';

// The variables you want to modify

// Timeline width
$timeline-divider-width: 64px;

// Colors
$material-dark: (
  'app-bar': #212121,
  'bottom-navigation': #424242,
  'background': #303030,
  'cards': #424242,
  'navigation-drawer': #424242,
  'toolbar': #212121
);

$material-light: ('background': #FAFAFA);

// Define specific colors
$color-pack: false;

// Custom styles
@import './_colors';
@import './_condensed';
@import './_layout';
@import './_theme';
@import './_vuetify';

// Change <v-toolbar> variables
@import '~vuetify/src/components/VToolbar/_variables.scss';
$toolbar-btn-icon-size: 38px;
$toolbar-content-padding-x: 18px;

.first-toolbar-item {
  margin-left: -#{$toolbar-btn-icon-size / 4} !important;
}
