.v-list-item__action {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Fix breaking change from vuetify 2.4.0 */
.row {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Add a 'tile' style on chips */
.v-chip--tile {
  border-radius: 0 !important;
  padding-left: 4px;
  padding-right: 4px;
}
