.app-toolbar {
  &.app-toolbar {
    z-index: 4;
  }
  &.sticky-toolbar {
    z-index: 3;
    top: 0;
    position: sticky;
  }
}

.cookies-menu {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.progress-bar {
  position: absolute !important;
  z-index: 9;
}

.word-break {
  word-break: break-all;
}

.step-btn-icon {
  &.active {
    border-radius: 0;
    margin-bottom: 4px;
  }
  .number {
    font-style: normal;
  }
}

%nowrap-with-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-line {
  white-space: pre-line;
}

.nowrap-with-ellipsis {
  @extend %nowrap-with-ellipsis;
}

.table-card {
  flex-wrap: nowrap;
  white-space: nowrap;

  /* elevation-1 */
  @include elevation(1, $important: true);
}

.v-dialog .table-card {
  margin-bottom: 4px;
}

.no-radius {
  border-radius: 0;
}

.maps-inset {
  height: 400px;
}

.home-form {
  width: 300px;
}
